# Object files
*.o
*.ko
*.lo

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# autoconf misc
aclocal.m4
lt*.m4
*.cache
config.*
configure
libtool
libtool.m4
*.log
*.gz
Makefile
Makefile.in
*.deps
.dirstamp
*.libs
stamp-h
src/stamp-h1
build-aux/
wolfmqtt-config
aminclude.am

# vim
*.swp
tags
diff
.vimrc

# test output

# scan-build
client.plist

# other
Debug
.vs
*.aps
*.sdf
*.user
*.opensdf
*.trs
firmware.bin
wolfmqtt/options.h
IDE/ARDUINO/wolfMQTT
IDE/Microchip-Harmony/wolfmqtt_client/firmware/mqtt_client.X/dist/default/
build/

# examples
examples/aws/awsiot
examples/azure/azureiothub
examples/firmware/fwclient
examples/firmware/fwpush
examples/mqttclient/mqttclient
examples/mqttsimple/mqttsimple
examples/nbclient/nbclient
examples/sn-client/sn-client
examples/sn-client/sn-client_qos-1
examples/sn-client/sn-multithread
examples/multithread/multithread
examples/wiot/wiot
examples/pub-sub/mqtt-pub
examples/pub-sub/mqtt-sub

# eclipse
.cproject
.project
.settings

# All backup files
*.bak

# auto-created CMake backups
**/CMakeLists.txt.old
**/CMakeLists.txt.bak

# VisualGDB
**/.visualgdb
**/*.vgdbproj.*.user

# Espressif sdk config default should be saved in sdkconfig.defaults
# we won't track the actual working sdkconfig files
/IDE/Espressif/**/out/
/IDE/Espressif/**/sdkconfig
/IDE/Espressif/**/sdkconfig.old

# Espressif managed components to exclude:
/IDE/Espressif/**/managed_components/**

# Espressif managed component lock files to exclude.
# "In general, it's ok to have it under version control, however, it ties
# the solution to the exact version of ESP-IDF and will be ignored if an
# example is built against another IDF version or for a different target.
# So it's better to git ignore it for the examples."
/IDE/Espressif/**/dependencies.lock

# exclude any local oqs components
/IDE/Espressif/ESP-IDF/examples/**/components/oqs

# The only ESP Registry Files specific to this location
/IDE/Espressif/ESP-IDF/examples/wolfssl_test/**/components/cryptoauthlib

# Never exclude Espressif config.h files
!/IDE/Espressif/**/config.h

